# Dependencies
node_modules/
dist/
build/

# Databases
backend/database.sqlite
backend/database.sqlite-journal
backend/iptv.db
backend/iptv.db-journal
backend/iptv.db-wal
backend/iptv.db-shm

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
